<!DOCTYPE html>
<html>
<head>
  <title>Shoos</title>
</head>
<link rel="stylesheet" type="text/css" href="/css/style.css">
<body>
  <nav>
      <ul>
        <li><a href="/home">Home </a></li>
        <li><a href="/shoes/new">Pre-Order </a></li>
        <li><a href="/shoes">All Pre-Orders </a></li>
      </ul>
    </nav>
  <%= yield %>
</body>
</html>