<h1>Order your Shoos here</h1>

<form action ="/shoes" method="post">
  <label for="first_name">First name</label>
  <input type="text" name="first_name"></input>

  <label for="last_name">Last name</label>
  <input type="text" name="last_name"></name>

  <label for="address">Address</label>
  <input type="text" name="address">

  <label for="shoe_type">Style of Shoos</label>

  <select name="shoe_type">
    <option value="trainers">Training Shoos</option>
    <option value="dress">Dress Shoos</option>
    <option value="casual">Casual Shoos</option>
  </select>

  <label for="quantity">Qty</label>
  <input type="number" name="quantity">

  <label for="size">Shoo Size</label>
  
  <select name="size">
    <option value="7">"7"</option>
    <option value="8">"8"</option>
    <option value="9">"9"</option>
    <option value="10">"10"</option>
    <option value="11">"11"</option>
  </select>

  <input type="submit" value="Order Shoos"></form>
</form>