

/*body------------------*/
body{
  background-color: #754F44;
/* background-image: url(https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcR4_ux84KrfcIzJcYweD1-jnLEjFJbpnm_jrZsOt0W-o84AWVes);*/
 background-repeat: no-repeat;
 background-position: right ;
 background-size: 100%;
}

a {
  background-color: slategray;
  padding: 5px;
  display: inline-block;
  margin: 4px;
  border-radius: 4px;
  text-decoration: none;
  color: #fff;

}

h1 {

  color: #fff;
}

h2 {

  color:#fff;
}

h3{
  color: #fff;
}

p{
  color:#fff;
}

label{

  color:#fff;
}

b{
  color:#fff;
}
